body{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #0d0;
}

h1{
    font-family: sansation;
    color: #fb0;
    font-size: 35px;
}

h2{
    font-family: sansation;
    color: #f80;
}
